#warning
{       
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 102px;
    height: 102px;
    top: 75px;
}

.message
{
    position: relative;
    width: 361px;
    height: 170px;
    left: 0px;
    top: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;

    color: #8C52E5;

    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}