@import 'bootstrap';

body{
    background-color: #8C52E5;
    cursor: default;
}

a:hover
{
    text-decoration: none;
}

.component-block
{
    width: 455px;
    height: 422px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FBFBFB;
    border-radius: 8px;

    padding: 20px;

    @media (max-width:767px) {
        display: block;
        position: relative;
        top: 0px;
        transform: translate(-50%, 40%);
    }

    &.strict{
        width: 350px;
        height: 540px;
        @media (min-width:767px) {
            right: 0%;
            left: auto;
        }
        @media (max-width:767px) {
            transform: translate(-50%, 65%);
        }
    }

    .title {
        font-weight: bolder;
        text-align: center;
        margin-top: 20px;
    }

    .center
    {
        width: 455px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-continue {
        width: 360.79px;
        height: 42.78px;
        background: #68DE5A;
        border-radius: 20px;
        border: 0px;

        .arrow {
            position: relative;
            top: -8px;
            float: right;
            margin-right: 15px;
        }
    }
}

input
{
    width: 300px;
    display: block;
    color: #444;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #5f5f5f;
    margin: 30px auto;
    padding: 5px 10px;
    outline: none;
}

p
{
    text-align:center;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
}

.purple-link
{
    color: #8C52E5;
    display: block;
    text-align: center;
    margin: 5px;

    &.first-child {
        margin-top:50px;
    }

    &:hover {
        color: #8C52E5;
    }
}

.enter-buttom {
    position: absolute;
    width: 261px;
    height: 42px;
    left: 180px;
    top: 549px;

    cursor: pointer;
    background: #FFFFFF;
    border-radius: 20px;

    text-decoration: none;

    &.green
    {
        background: #68DE5A;
    }

    &.gray
    {
        background: #C0C0C0;
    }

    &.container
    {
        width: 80%;
        height: 42px;
    
        position: relative;
        top: 10px;
        bottom: 10px;
        left: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
        cursor: pointer;
        border-radius: 20px;
    
        .text-buttom
        {
            color: #FFF;
        }
    }

    @media (max-width:767px) {
        top: 400px;
        left: 90px;
    }

    .text-buttom {
        position: relative;
        top: 10px;
        left: 20px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        display: flex;
        align-items: center;

        color: #8C52E5;
    }

    .arrow {
        position: relative;
        top: -8px;
        float: right;
        margin-right: 15px;
    }
}

.spinner {
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
}

.mat-dialog-container {
    background: #FFF;
}

.ng-touched.ng-invalid
{
    border-color: red;
}

.dash-menu
{
    position: absolute;
    width: 151px;
    min-height: 900px;
    left: 0px;
    top: 0px;
    text-align: center;
    padding-top: 10px;

    background: #63dc3f;

    .btn-menu {
        width: 91px;
        height: 91px;
        
        display: block;
        margin: 20px auto;

        background: #8C52E5;
        border-radius: 5px;

        &.red {
            background: rgb(212, 59, 59);
        }

        span
        {
            display: block;
            position: relative;
            bottom: -30px;
            color: white;
        }

        svg {
            position: relative;
            top: 10px;
            left: -20px;
        }
    }
}

.dash-hello
{
    position: absolute;
    width: 280px;
    height: 26px;
    left: 243px;
    top: 71px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.dash
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #9B9B9B;

    svg
    {
        margin: 20px;
    }
}

.dash-card {
    width: 407.8px;
    height: 255.05px;
    display: inline-block;
    position: relative;
    left: 247px;
    top: 150px;
    margin-right: 93px;

    background: #FBFBFB;
    border-radius: 8px;

    .subtitle
    {
        display:block;
        margin: 13px 0 0 23px;
    }

    .moneyValue
    {
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        margin-left: 23px;

        &.black {
            color: #010101;
        }

        &.green {
            color: #68DE5A;
        }

        &.blue {
            color: #1783E7;
        }
    }
}

.dash-block {
    position: relative;
    width: 907.55px;
    height: 396px;
    left: 247.45px;
    top: 220px;

    background: #FBFBFB;
    border-radius: 8px;

    .lancamento {
        display: block;

        span {
            display: block;
        }

        .descricao
        {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
        }

        .valorLancamento
        {
            font-weight: 500;
            font-size: 20px;
            color: #000000;
        }

        .data
        {
            float: right;
            margin-right: 215px;
            font-size: 14px;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
